.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.Form-label {
  margin-bottom: 8px;
  display: block;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Button-group button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #61dafb;
  color: white;
}

.Button-group button:hover {
  background-color: #50c0e9;
}

.styledTable {
  border-collapse: collapse;
  max-width: 90%; /* Limit the maximum width */
  margin-left: auto; /* Center the table */
  margin-right: auto; /* Center the table */
  table-layout: fixed; /* Helps with managing column widths */
}

.styledTable td, .styledTable th {
  border: 1px solid #009879; /* sample color, adjust as needed */
  padding: 8px;
  word-wrap: break-word; /* To ensure text fits within cells */
}

.styledTable tr:nth-child(even){background-color: #f2f2f2;}

.styledTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #009879; /* Sample color, adjust as needed */
  color: white;
}

/* Specific column widths */
.styledTable td:nth-child(1) { width: 20%; } /* Adjust column width as needed */
.styledTable td:nth-child(2) { width: 80%; } /* Adjust for long text */

